<!DOCTYPE html>
<html lang="es">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Modelos por Plantas</title>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Modelos por Plantas</h1>

        <!-- Tabla de Modelos por Plantas -->
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>ID Modelo</th>
                    <th>ID Planta</th>
                </tr>
            </thead>
            <tbody>
                <!-- Verificación de si hay registros -->
                {% if modelosxplantas %}
                    {% for modelo_planta in modelosxplantas %}
                    <tr>
                        <td>{{ modelo_planta.idModelo }}</td>
                        <td>{{ modelo_planta.idPlanta }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="2" class="text-center">No hay registros disponibles.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>

        <!-- Botón para regresar -->
        <div class="text-center mt-4">
            <a href="{% url 'pagina_principal' %}" class="btn btn-primary px-4 py-2">Volver al inicio</a>
        </div>
    </div>
</body>
</html>
